<!DOCTYPE html>
<html>
<head>
    <title>Sobre</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body class="sobre">
    <header>
        <h1>Sobre Mim</h1>
        <nav>
            <a href="/">Home</a> | 
            <a href="/sobre/">Sobre</a> | 
            <a href="/contato/">Contato</a>
        </nav>
    </header>
    <main>
        <h2>Quem Sou</h2>
        <p>Sou um estudante de Analise e desenvolvimento de Sistema, criando um projeto para a aula de desenvolvimento web II.</p>
        <p>AAtualemente aprendendo sobre Django.</p>
    </main>
</body>
</html>